backend:
  name: git-gateway
  branch: main

media_folder: "static/uploads"
public_folder: "/static/uploads"

collections:
  - name: "posts"
    label: "Posts"
    folder: "content/posts"
    create: true
    slug: "{{slug}}"
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Author", name: "author", widget: "string", default: "UsRewardCenter"}
      - {label: "Image URL", name: "image", widget: "string"}
      - {label: "Offer Link", name: "link", widget: "string"}
      - {label: "Body", name: "body", widget: "markdown"}
